---
---

@import "minima";

body {
  background-color: #111111;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.site-header {
  background: #552583;
  border-top: 5px solid #FDB927;
}

.site-title,
.site-title:visited {
  color: #FDB927;
  font-weight: bold;
}

.site-nav .page-link {
  color: white;
}

a {
  color: #FDB927;
}

.post-title {
  color: #FDB927;
}

.wrapper {
  max-width: 900px;
}

.post-content {
  font-size: 18px;
  line-height: 1.8;
}
